.slider-m-bottom {
    margin-bottom: 14%;
}

.padding-top-bottom {
    padding: 144px 0;
}

.height-width {
    height: 200px;
    width: 200px;
}

.margin-top {
    margin-top: 100px;
}

.compani-width {
    width: 140px;
    height: 28px;
}

/* Tablet device */
@media (max-width: 991.98px) {
    .slider-m-bottom {
        margin-bottom: 0%;
    }

    .display-none {
        display: none;
    }

    .padding-top-bottom {
        padding: 20px 0;
    }

    .register-text-change h1 {
        text-align: center;
    }

    .register-text-change p {
        text-align: center;
    }

    .register-button-change {
        justify-content: center;
    }
}

/* Mobile device */
@media (max-width: 767.98px) {
    .slider-m-bottom {
        margin-bottom: 0%;
    }

    .mobile-diraction {
        flex-direction: column;

    }

    .height-width {
        width: 300px;
    }

    .height-width img {
        width: 100%
    }

    .change-direction {
        flex-direction: column;
    }

    .display-none {
        display: none;
    }

    .padding-top-bottom {
        padding: 60px 0;
    }

    .register-text-change h1 {
        text-align: center;
    }

    .register-text-change p {
        text-align: center;
    }

    .register-button-change {
        justify-content: center;
    }

}