.padding-top-bottom {
    padding: 140px 0;
}

.height-width {
    height: 200px;
    width: 200px;
}

.margin-top {
    margin-top: 100px;
}

.same-width {
    width: 118px;
    height: 28px;
}

@media (max-width: 575.98px) {
    .mobile-diraction {
        flex-direction: column;

    }

    .height-width {
        width: 300px;
    }

    .height-width img {
        width: 100%
    }

    .change-direction {
        flex-direction: column;
    }

    .display-none {
        display: none;
    }

    .padding-top-bottom {
        padding: 60px 0;
    }

}